<%= form_for(video_post) do |f| %>
  <% if video_post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(video_post.errors.count, "error") %> prohibited this video_post from being saved:</h2>

      <ul>
      <% video_post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>

  <div class="field">
    <%= f.label :watermark %>
    <%= f.text_field :watermark %>
  </div>

  <div class="field">
    <%= f.label :video_path %>
    <%= f.file_field :video_path %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
