<p id="notice"><%= notice %></p>

<h1>Video Posts</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Watermark</th>
      <th>Status</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @video_posts.each do |video_post| %>
      <tr>
        <td><%= video_post.title %></td>
        <td><%= video_post.watermark %></td>
        <td><%= video_post.status %></td>
        <td><%= link_to 'Show', video_post %></td>
        <td><%= link_to 'Edit', edit_video_post_path(video_post) %></td>
        <td><%= link_to 'Destroy', video_post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Video Post', new_video_post_path %>
